@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&family=Montserrat:wght@300;400&family=Poppins:wght@300;700&display=swap');

.row {
    margin: 0;
    padding: 0;
}

.container {
  padding: 0;
  margin: 0;
  /* padding-left: 10px; */
  background-color: #f5f5f5;
  justify-content: center;
  /* text-align: center; */
}

#main-content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: #f5f5f5;
}

.image-container {
    width: 100%;
}

.button {
    margin: 0;
}

.card {
    /* position: relative; */
    padding: 0;
    margin: 15px;
    margin-bottom: 20px;
    text-align: left;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    /* padding: 18px 80px 18px 36px; */
    cursor: pointer;
    
}

.card:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-img-top {
    opacity: 100% !important;
    width: 100%;
}

.card-body {
    padding: 20px;
}

.card-body button {
    margin: 0;
}

#main-content h1 {
    margin: 10px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: #3083dc;
}

.card h3 {
    /* padding-top: 10px; */
    color: #3083DC;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.card p {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}
