@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#main-content {
  font-family: 'Montserrat', sans-serif;
  color: #191716;
  
  background-color: #eaeaea;
}

img {
  width: 200px;
  height: auto;
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
}

.quiz-container {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  background: #ffffff;
  border-radius: 4px;
  margin-top: 30px;
  padding: 30px 60px;
}

.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #3083DC;
}

.quiz-container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #9bc5f5;
}

.quiz-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.quiz-container ul {
  margin-top: 20px;
  margin-left: -40px;
}

.quiz-container ul li {
  list-style: none;
  color: #191716;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #dbe4ee;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}

.quiz-container ul .selected-answer {
  background: #d4e7fc;
  border: 1px solid #3083dc;
}

button {
  background: #191716;
  border-radius: 8px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #3083dc;
}

button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

/* correct answer */
.quiz-container ul .correct-answer {
  background-color: green;
  color: white;
  cursor: pointer;
}

/* wrong answer */
.quiz-container ul .wrong-answer {
  background-color: red;
  color: white;
  cursor: pointer;
}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
}

.result p {
  font-size: 16px;
  font-weight: 500;
}

.result p span {
  color: #3083dc;
  font-size: 22px;
} 