@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



.header {
  margin: 10px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color: #3083dc;
}

.miniheader {
  margin: 10px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color: #3083dc;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  width: 100%;
  padding: 20px;
  text-align: center;
}

#note-add {
  margin-bottom: 15px;
}

.note-box {
  position: relative;
  font-size: 14px;
  padding: 15px;
  margin-bottom: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alerts {
  margin-left: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #3c763d;
}

.accordian {
  margin-bottom: 20px; 
}


.panel {
  box-shadow: 2px 2px 4px #ccc;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}

.panel h3{
  padding-top:0px;
}

/* Typography Styles */
label {
  font-size: 18px;
}

/* Delete Button Styles */
.noteContainer {
  position: relative;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 15px;
  min-height: 10vh;
}

.notedContainer {
  position: relative;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 15px;
  min-height: 30vh;
}

.noteButtons {
  position: relative;
  bottom: 0px;
  right: 0px;
  padding: 0px;
  border-radius: 15px;
}

.parentContainer {
  position: relative;
}

.addtodashboard {
  background-color: #493EFC;
  color: rgba(242, 242, 242, 1);
  position: relative;
  bottom: 10;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
  text-decoration: none;
  z-index: 1; 
  width: 60%;
  border-radius: 15px;
}
 
.delete {
  background-color: #493EFC;
  color: rgba(242, 242, 242, 1);
  margin-right: 0px;
  padding: 8px 15px 8px 15px;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  z-index: 1;
  border-radius: 50%;
}


.delete:hover {
  text-decoration: none;
  color: #777777;
}

:root {
  --green-bg: #dff0d8;
  --green-border: #d6e9c6;
  --red-bg: #f2dede;
  --red-border: #ebccd1;
  --blue-bg: #d9edf7;
  --blue-border: #bce8f1;
  --orange-bg: #fcf8e3;
  --orange-border: #faebcc;
}

.green {
  background-color: var(--green-bg);
  border-color: var(--green-border);
}

.red {
  background-color: var(--red-bg);
  border-color: var(--red-border);
}

.blue {
  background-color: var(--blue-bg);
  border-color: var(--blue-border);
}

.orange {
  background-color: var(--orange-bg);
  border-color: var(--orange-border);
}

.noteContainer{

  display: grid;
  width: 100%;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
}

.noteContainer > label {
  padding: 1.2rem 0 ;

  border-radius: 5px;
  text-align: center; 
  outline: 1px solid hsl(var(--cool-gray));
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  flex-direction: column;
  border: 1px solid black;
} 

.addbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.noteContainer > input[type='radio'] {
  display: none;

}

.noteContainer > input[type='radio']:checked + label {
  background-color: hsl(var(--purpleish-blue) / .1);
}


.noteContainer > label div{
  display: flex;
  flex-direction: column;

}
.noteContainer > label div span{
  color: hsl(var(--cool-gray));
}